* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #edf2f8;
    display: flex;
    justify-content: center;
    font-family: 'Manrope', 'Roboto', 'Space Mono', sans-serif;
}

.container {
    width: 745px;
    height: 295px;
    background-color: #fff;
    margin-top: 85px;
    border-radius: 15px;
}

.cajones img {
    width: 286px;
    height: 295px;
    border: 50%;
    margin-top: -24px;
}

.texto {
    width: 351px;
    height: 25px;
    margin-left: 345px;
}
.texto h1{
    padding-top: 15px;
}

.texto p {
    font-size: 13px;
    color: hsl(214, 17%, 51%);
    margin-top: 15px;
}
.mujer-perfil{
    display: flex;
    justify-content: center;
    margin-top: -82px;
    
}
.mujer-perfil img{
    width: 48px;
    height: 43px;
    border-radius: 50px;
    margin-left: 100px;
}

.texto-perfil{
    text-align: center;
}
.texto-perfil h5{
color: #737980;
margin-left: 15px;
}
.texto-perfil p{
    font-size: 13px;
    color: #c8cdd3;
}
.redes{
    display: flex;
    justify-content: flex-end;
    margin-top: -4%;
    margin-right: 35px;
    
}
.redes img{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #e7edf5;
}
@media screen and (max-width: 768px ){
    .container{
        grid-template-columns: 1fr;
        max-width: 294px;
        overflow: hidden;
    }
}